.row {
  display: grid;
  grid-template-columns: 30% 12% repeat(2, 17%) 1fr;
  gap: 1px;
}

.data-cell {
  font-size: 16px;
  padding: 15px;
  color: var(--secondary_color);
  align-self: center;
}

.row:nth-child(odd) {
  background-color: #eeeeee;
}

.data-cell a {
  text-decoration: underline;
  color: var(--secondary_color);
}

.bold {
  font-weight: 600;
}

.aling-right {
  text-align: end;
}

.select-Container {
  display: flex;
  justify-content: center;
  aling-items: center;
}

.select {
  width: 90%;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 13px;
  cursor: pointer;
}

.select > option {
  font-size: 15px;
}
