.navbar {
  background-color: var(--secondary_color);
  margin-bottom: 25px;
}

.list {
  display: flex;
  justify-content: center;
  aling-items: center;
  gap: 40px;
  padding: 10px;
}

.list a {
  color: #ffffff;
  text-decoration: none;
}

.selected {
  border-bottom: 5px solid var(--primary_color);
  padding-bottom: 5px;
  margin-bottom: -10px;
}
