.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--secondary_color);
    margin-bottom: 15px;
    padding-bottom: 15px;
    min-height:100px
  }
  
  .header-container h1 {
    font-size: 2.2rem;
  }